header {
  @include flex(center, space-between, row);
  min-height: 15vh;
  padding: 1rem;
  width: 90%;
  margin: 0 auto;

  #logo {
    flex: 1;
  }
  .main-nav {
    flex: 3;
    @include flex(center, space-evenly, row);
  }

  .social-links {
    flex: 1;
    @include flex(center, flex-end, row);
    a {
      margin-left: 2rem;
    }
  }
}

// Media queries
@media (max-width: 800px) {
  header {
    display: block;
    text-align: center;
    .social-links {
      display: none;
    }
  }
}
